@{
    ViewData["Title"] = "Welcome to The Continental";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Continental</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="TheRealHeros.png" alt="The Real Superhero" style="width:50px;height:auto;" />
</div>
